<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qlj.lakinqiandemo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".JianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.qlj.lakinqiandemo.reflection.ReflectionActivity" />
        <activity android:name="com.qlj.lakinqiandemo.hook.HookActivity" />
        <activity android:name="com.qlj.lakinqiandemo.mvp.login.view.LoginActivity" />
        <activity android:name=".views.animation.LoadingActivity" />
        <activity android:name="com.qlj.lakinqiandemo.contralayout.FirstActivity" />
        <activity android:name="com.qlj.lakinqiandemo.contralayout.SecondActivity" />
        <activity android:name="com.qlj.lakinqiandemo.contralayout.ContralayoutActivity" />
        <activity android:name="com.qlj.lakinqiandemo.views.CustomizeViewActivity" />
        <activity android:name="com.qlj.lakinqiandemo.views.pinPasswordView.PinEditActivity" />
        <activity android:name="com.qlj.lakinqiandemo.views.pinPasswordView.GestureEditActivity" />
        <activity android:name="com.qlj.lakinqiandemo.video.VideoActivity" />
        <activity android:name="com.qlj.lakinqiandemo.video.VideoPlayActivity" />
        <activity android:name="com.qlj.lakinqiandemo.video.ListVideoPlay.ListVideoPlayActivity" />
        <activity android:name="com.qlj.lakinqiandemo.json.JsonAnalysisActivity" />
        <activity android:name="com.qlj.lakinqiandemo.views.lottie.LottieActivity" />
        <activity android:name="com.qlj.lakinqiandemo.eventbus.EventbusActivity" />
        <activity android:name="com.qlj.lakinqiandemo.eventbus.EventActivity2" />
        <activity android:name="com.qlj.lakinqiandemo.eventbus.EventActivity3" />
        <activity android:name="com.qlj.lakinqiandemo.h5.H5Activity" />
        <activity android:name="com.qlj.lakinqiandemo.views.SlideViewActivity" />
        <activity android:name="com.qlj.lakinqiandemo.optimize.MemoryOptimizeActivity" />
        <activity android:name="com.qlj.lakinqiandemo.optimize.ImageLoadActivity" />
        <activity android:name="com.qlj.lakinqiandemo.file.FileActivity" />
        <activity android:name="com.qlj.lakinqiandemo.banner.BannerActivity" />
        <activity android:name="com.qlj.lakinqiandemo.social.message.MessageActivity" />
        <activity android:name="com.qlj.lakinqiandemo.social.message.DynamicMessageActivity" />
        <activity android:name="com.qlj.lakinqiandemo.social.message.SessionActivity" />
        <activity android:name=".social.code.ScanActivity"/>
        <activity android:name=".social.code.QRCodeActivity"/>
        <activity android:name=".annotation.TestAnnotationActivity"/>
        <activity android:name=".views.canvas.CanvasActivity" />
        <activity android:name=".binder.aidl.EasyDemoActivity" />
        <activity android:name=".binder.BinderActivity" />
        <activity android:name=".views.loadingView.LoadingViewActivity" />


        <receiver android:name="com.qlj.lakinqiandemo.receiver.GlobalReceiver">
            <intent-filter>
                <action android:name="com.qlj.lakinqiandemo.TIMER_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GlobalJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1456065777826712"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>